{% extends '../sub_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Edit Profile' %}{% endblock %}
{% block sub_content %}

<div class="col-6 mx-auto">
<form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">
  {% if user_form.is_valid %}
  <div class="alert alert-primary" role="alert">
    {% trans 'Details successfully updated!' %}
  </div>
  <p class="small text-center pt-0">
    <a href="{% url 'account:dashboard' %}">{% trans 'Back to Dashboard' %}</a>
  </p>
  {% else %}
  <h3>{% trans 'Change your details' %}</h3>
  <p>{% trans 'You can edit your accout using the following form:' %}</p>
  {% endif %}

  {% if form.errors %}
  <div class="alert alert-primary" role="alert">
    {% trans 'Error: Please try again!' %}
  </div>
  {% endif %}

  {% csrf_token %}
  <label class="small font-weight-bold">{{ user_form.email.label }}</label>
  {{ user_form.email }}
  <label class="small font-weight-bold">{{ user_form.first_name.label }}</label>
  {{ user_form.first_name }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" 
  value="save changes">{% trans 'Save Changes' %}</button>
  <hr class="mb-3">
</form>
<form class="account-form px-4" action="{% url 'account:delete_user' %}" method="post">
  {% csrf_token %}
  <p class="h3 pt-4 font-weight-bold">{% trans 'Delete Account' %}</p>
  <p>{% trans 'Are ypu sure you want to delete your account ?' %}</p>
  <button type="submit" role="button" 
    class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">{% trans 'Delete' %}</button>
</form>
</div>

{% endblock %}