.store-select-dropdown {
  width: 50px;
  height: 40px
}

.paragraph span {
  display: block;
  opacity: 0;
  animation: reveal 0.5 forwards var(--delay);
  font-size:large;
}

@keyframes reveal {
  from {
    translate: 0 30px;
  }
  to {
    translate: none;
    opacity: 1;
  }
}