{% extends "../sub_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Reset Status' %}{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="p-4">
                {% if 'email' in request.get_full_path %}
                        <h3 class="mb-4">{% trans 'Password Reset Success' %}</h3>
                        <p>{% trans 'Check your email for instructions' %}</p>
                {% endif%}
                {% if 'complete' in request.get_full_path %}
                        <h3 class="mb-4">{% trans 'Password Reset Success' %}</h3>
                        <a href="{% url 'account:login' %}">{% trans 'Login' %}</a>
                {% endif%}
            </div>       
        </div>
    </div>

{% endblock %}